#{$page-main-selector},
#{$page-sidebar-selector} {
  min-height: 100%;
}

#{$page-main-selector} {
  margin-left: $page-sidebar-width;
  @include base-layout;
}

#{$page-sidebar-selector} {
  position: relative;
  z-index: 100;
}
