.Sidebar-brand {
  height: $page-header-height;
  padding-left: $page-sidebar-item-padding;
  background-color: $page-brand-bg-color;

  a {
    display: block;
    font: {
      size: $page-brand-font-size;
      weight: $page-brand-font-weight;
    }
    line-height: $page-header-height;
    color: $page-brand-text-color;
  }
}
