.Sidebar-brand {
  height: $page-header-height;
  padding-left: $page-sidebar-item-padding;
  background-color: $sidebar-brand-bg-color;

  a {
    height: 100%;
    @include brand-link(false);
  }
}
