.Content {
  padding: {
    top: $page-content-top-padding;
    bottom: $page-content-bottom-padding;
  }
}

.Content-header {
  margin-bottom: rem(20px);
  @include pie-clearfix;

  h1 {
    margin: 0;
    font-size: $page-content-heading-font-size;
    text-shadow: rem(1px 1px rgba(255, 255, 255, .5));
  }

  .Breadcrumb {
    float: right;
    @include text-middle("ul");

    ul {
      list-style: none inside none;
      margin: rem(0 0 0 8px);
      padding: 0;
      overflow: hidden;
    }

    li {
      float: left;
      font-size: rem(12px);

      + li:before {
        content: "/";
        margin: rem(0 5px);
      }
    }
  }
}
