body {
  margin: 0;
}

html,
body,
#{$page-wrapper-selector} {
  height: 100%;
}

html,
body,
#{$page-wrapper-selector},
#{$page-main-selector},
#{$page-sidebar-selector},
#{$page-header-selector} {
  @include box-sizing(border-box);
}

#{$page-wrapper-selector} {
  background-color: $page-body-bg-color;
}

#{$page-sidebar-selector},
#{$page-header-selector} {
  font-family: $font-family-sans-serif;

  ul,
  ol {
    list-style: none inside none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
}
