.Sidebar {
  float: left;
  width: $page-sidebar-width;
  background-color: $page-sidebar-bg-color;
  font: {
    size: $page-sidebar-font-size;
    weight: $page-sidebar-font-weight;
  }

  @if $page-sidebar-box-shadow != none {
    @include box-shadow($page-sidebar-box-shadow);
  }

  .Navs > ul > li > a {
    display: block;
    color: $page-sidebar-text-color;
    @include transition(background-color .3s);
  
    &:hover {
      color: $page-sidebar-text-hover;
      background-color: $page-sidebar-item-hover;
    }
  }
}

.Sidebar-navs {
  @if whether-non-zero($page-sidebar-top-padding) {
    padding-top: $page-sidebar-top-padding;
  }

  @if whether-non-zero($page-sidebar-bottom-padding) {
    padding-bottom: $page-sidebar-bottom-padding;
  }

  > ul {
    > li {
      > a {
        @include sidebar-menu-primary;
      }

      > .Navs {
        display: none;
        background-color: $page-sidebar-sub-bg-color;

        a {
          @include sidebar-menu-secondary;
        }
      }

      &.is-active {
        &.is-childless > a,
        > .Navs .is-active a {
          background-color: $page-sidebar-item-active;
        }

        > .Navs {
          display: block;
        }

        .Menu-switcher .fa {
          @include rotate(90deg);
        }
      }

      &.is-childless .Menu-switcher {
        display: none !important;
      }
    }

    &.Menu--grouped:first-child {
      padding-top: rem(10px);
    }
  }

  .Menu {
    &:not(.Menu--grouped) .Menu-label {
      display: none;
    }

    &.Menu--grouped {
      .Menu-label {
        @include sidebar-menu-label;
      }
    }

    + .Menu--grouped {
      padding-top: rem(5px);

      .Menu-label {
        margin-top: rem(5px);
      }
    }
  }

  .Menu-switcher {
    position: absolute;
    top: 50%;
    right: rem(10px);
    margin-top: rem(-7px);
    line-height: 1;

    .fa {
      margin-right: rem(5px);
      @include transition(transform .3s ease);
    }
  }

  &.Navs--hover {
    overflow: visible;

    > ul > li {
      position: relative;

      > .Navs {
        position: absolute;
        top: rem(-5px);
        left: 100%;
        padding-left: rem(10px);

        ul {
          position: relative;
          padding: rem(5px 1px);
          border-radius: rem(2px);
          background-color: #fff;
          @include box-shadow(rem(1px) rem(1px) rem(10px) rem(1px) rgba(0, 0, 0, .3));

          &:before {
            content: $UN-space;
            position: absolute;
            top: rem(21px);
            right: 100%;
            width: 0;
            height: 0;
            border: rem(8px) solid transparent;
            border-right-color: #fff;
            border-left-width: 0;
          }
        }

        li {
          min-width: rem(120px);
          @include nowrap;

          a {
            padding: rem(0 25px);
          }
        }
      }

      &:hover > .Navs {
        display: block;
      }
    }
  }
}
