$page-prefix: "Page" !default;

$page-wrapper-selector: ".#{$page-prefix}" !default;

$page-main-selector: ".#{$page-prefix}-main" !default;

$page-sidebar-selector: ".#{$page-prefix}-sidebar" !default;
$page-sidebar-width: 220px !default;
$page-sidebar-top-padding: 20px !default;
$page-sidebar-bottom-padding: 50px !default;
$page-sidebar-bg-color: transparent !default;
$page-sidebar-text-color: inherit !default;
$page-sidebar-text-hover: $page-sidebar-text-color !default;
$page-sidebar-item-height: 48px !default;
$page-sidebar-item-padding: 25px !default;
$page-sidebar-item-hover: transparent !default;
$page-sidebar-item-active: $page-sidebar-item-hover !default;
$page-sidebar-sub-bg-color: transparent !default;
$page-sidebar-box-shadow: none !default;

$page-header-selector: ".#{$page-prefix}-header" !default;
$page-header-height: 60px !default;
$page-header-border-width: 0 !default;
$page-header-border-color: transparent !default;
$page-header-bg-color: transparent !default;
$page-header-box-shadow: none !default;

$page-body-selector: ".#{$page-prefix}-body" !default;
$page-body-bg-color: #fff !default;

$page-content-selector: ".#{$page-prefix}-content" !default;
$page-content-top-padding: 30px !default;
$page-content-bottom-padding: 30px !default;
$page-content-heading-font-size: 24px !default;

$page-footer-selector: ".#{$page-prefix}-footer" !default;
$page-footer-height: 0 !default;

$page-brand-image-height: 24px !default;
$page-brand-font-size: 22px !default;
$page-brand-font-weight: inherit !default;
$page-brand-text-color: inherit !default;
$page-brand-bg-color: transparent !default;
$page-brand-separator-color: $page-brand-text-color !default;
$page-brand-separator-gap: 21px !default;

$page-navbar-avatar-size: 30px !default;

$page-action-trigger-color: $page-brand-text-color !default;
