*:focus {
  outline: none;
}

body {
  font: {
    family: $font-family-base;
    size: $font-size-base;
    weight: $font-weight-base;
  }
  line-height: $line-height-base;
  color: $text-color;

  @if $optimize-legibility == true {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}

img {
  max-width: 100%;
}

label {
  cursor: pointer;
}
