#{$page-wrapper-selector} {
  overflow: hidden;
  @include base-layout;

  html.is-legacy &,
  &.is-legacy {
    padding-top: $page-header-height + $page-header-border-width + rem(24px) !important;
  }
}

#{$page-body-selector},
#{$page-sidebar-selector},
#{$page-content-selector} {
  height: 100%;
}

#{$page-sidebar-selector},
#{$page-content-selector} {
  overflow: auto;
}
