.#{$figure-prefix} {
  position: relative;
  margin: 0;
  text-align: center;
  background-color: $figure-bg-color;

  @if whether-non-zero($figure-border-radius) {
    &,
    > div {
      @include border-radius($figure-border-radius);
    }
  }

  > div {
    @include aspect_ratio(4, 3);
  }

  a {
    @include text-middle("> img");
  }

  img {
    max-height: 100%;
  }

  figcaption {
    font-size: $figure-caption-font-size;
    color: $figure-caption-text-color;
    background-color: $figure-caption-bg-color;
    @include stretch(auto);

    @if whether-non-zero($figure-caption-vertical-padding) or whether-non-zero($figure-caption-horizontal-padding) {
      @if $figure-caption-vertical-padding == $figure-caption-horizontal-padding {
        padding: $figure-caption-vertical-padding;
      }
      @else {
        padding: $figure-caption-vertical-padding $figure-caption-horizontal-padding;
      }
    }
      
    @if whether-non-zero($figure-border-radius) {
      @include border-radius(0 0 $figure-border-radius $figure-border-radius);
    }
  }
}
